body{
margin:0;
padding:0;
}

#container {
width:1100px;
height:100px;
margin:0 auto;
background-color:#6E9dd5;
}

#title{
font-size:24px;
margin-left:65px;
}

#slogan{
font-size:20px;
}

nav a{
text-decoration:none;
}

nav li{
display:inline;
margin-left:20px;
}

nav{
margin-left:635px;
margin-top:-45px;
}

a{
line-height:21px;
}